## Deliverable 3. Create a Travel Itinerary Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [21]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("vacation_search/weatherpy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Rikitea,PF,77.34,light rain,-23.1203,-134.9692,Rikitea
1,7,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Alofi
2,10,Port Alfred,ZA,73.49,overcast clouds,-33.5906,26.8910,Port Alfred
3,11,Coahuayana,MX,76.19,scattered clouds,18.7333,-103.6833,Coahuayana de Hidalgo
4,15,Isangel,VU,86.11,moderate rain,-19.5500,169.2667,Isangel
5,16,Busselton,AU,70.11,overcast clouds,-33.6500,115.3333,Busselton
6,18,Kapaa,US,78.78,light rain,22.0752,-159.3190,Kapaʻa
7,24,Prainha,BR,75.61,overcast clouds,-1.8000,-53.4800,Prainha
8,26,Butaritari,KI,82.26,scattered clouds,3.0707,172.7902,Ukiangang
9,28,Sawtell,AU,79.12,scattered clouds,-30.3833,153.1000,Coffs Harbour

In [22]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [23]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Trip into MEXICO.
# Grab the first hotel from the results and store the name.
mexico_vacation_df = vacation_df.loc[(vacation_df["Country"] == "MX")]
mexico_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,11,Coahuayana,MX,76.19,scattered clouds,18.7333,-103.6833,Coahuayana de Hidalgo
23,59,Cabo San Lucas,MX,73.15,broken clouds,22.8909,-109.9124,Cabo San Lucas
31,80,Cozumel,MX,75.18,clear sky,20.5083,-86.9458,San Miguel de Cozumel
44,114,Mundo Nuevo,MX,73.53,overcast clouds,18.7000,-95.5000,Ciénega del Sur
62,171,Tomatlan,MX,71.42,few clouds,19.9333,-105.2500,Tomatlán
227,610,Acapulco,MX,77.59,clear sky,16.8634,-99.8901,Acapulco
229,614,Dzilam Gonzalez,MX,72.55,clear sky,21.2833,-88.9333,Dzilam González
249,669,Tecoanapa,MX,76.50,clear sky,16.5167,-98.7500,Barra de Tecoanapa
251,672,Lazaro Cardenas,MX,76.14,clear sky,17.9583,-102.2000,Lázaro Cárdenas
252,673,San Mateo Del Mar,MX,76.75,clear sky,16.2000,-95.0000,San Mateo Del Mar

In [25]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [26]:
mexico_vacation_df = mexico_vacation_df[new_column_order]

In [27]:
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
3,11,Coahuayana,MX,18.7333,-103.6833,76.19,scattered clouds
23,59,Cabo San Lucas,MX,22.8909,-109.9124,73.15,broken clouds
31,80,Cozumel,MX,20.5083,-86.9458,75.18,clear sky
44,114,Mundo Nuevo,MX,18.7000,-95.5000,73.53,overcast clouds
62,171,Tomatlan,MX,19.9333,-105.2500,71.42,few clouds
227,610,Acapulco,MX,16.8634,-99.8901,77.59,clear sky
229,614,Dzilam Gonzalez,MX,21.2833,-88.9333,72.55,clear sky
249,669,Tecoanapa,MX,16.5167,-98.7500,76.50,clear sky
251,672,Lazaro Cardenas,MX,17.9583,-102.2000,76.14,clear sky
252,673,San Mateo Del Mar,MX,16.2000,-95.0000,76.75,clear sky

In [28]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 
start = float(input("What is your Starting City_ID from MX List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from MX List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from MX List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from MX List you would like for your trip? "))
end = float(input("What is your Last City_ID from MX List you would like for your trip? "))

What is your Starting City_ID from MX List you would like for your trip? 610
What is your First Stop City_ID from MX List you would like for your trip? 614
What is your Second Stop City_ID from MX List you would like for your trip? 669
What is your Thirth Stop City_ID from MX List you would like for your trip? 672
What is your Last City_ID from MX List you would like for your trip? 11

In [29]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == start)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop1)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop2)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop3)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is Acapulco, MX
Your Frist Stop is Dzilam Gonzalez, MX
Your Second Stop is Tecoanapa, MX
Your Thirth Stop is Lazaro Cardenas, MX
Your Last Stop in your vacation is Coahuayana, MX

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat    16.8634
Lng   -99.8901
Name: 227, dtype: object

In [31]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat    21.2833
Lng   -88.9333
Name: 229, dtype: object

In [32]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat    16.5167
Lng     -98.75
Name: 249, dtype: object

In [33]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat    17.9583
Lng     -102.2
Name: 251, dtype: object

In [34]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat     18.7333
Lng   -103.6833
Name: 3, dtype: object

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# USING DRIVING MODE!

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (20.7, -105.2)
stop1 = (17.48, -91.43)
stop2 = (27.98, -114.06)
stop3 = (23.17, -97.95)
end = (30.85, -116.07)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

mexico_vacation_df = pd.concat([mexico_vacation_df],ignore_index=True)
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,11,Coahuayana,MX,18.7333,-103.6833,76.19,scattered clouds
1,59,Cabo San Lucas,MX,22.8909,-109.9124,73.15,broken clouds
2,80,Cozumel,MX,20.5083,-86.9458,75.18,clear sky
3,114,Mundo Nuevo,MX,18.7000,-95.5000,73.53,overcast clouds
4,171,Tomatlan,MX,19.9333,-105.2500,71.42,few clouds
5,610,Acapulco,MX,16.8634,-99.8901,77.59,clear sky
6,614,Dzilam Gonzalez,MX,21.2833,-88.9333,72.55,clear sky
7,669,Tecoanapa,MX,16.5167,-98.7500,76.50,clear sky
8,672,Lazaro Cardenas,MX,17.9583,-102.2000,76.14,clear sky
9,673,San Mateo Del Mar,MX,16.2000,-95.0000,76.75,clear sky

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in mexico_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = mexico_vacation_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
city_mark = mexico_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))