In [67]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [68]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ribeira Grande,38.5167,-28.7000,58.53,54,100,18.77,PT,2021-12-13 00:06:10
1,1,Qaanaaq,77.4840,-69.3632,-3.91,72,76,4.79,GL,2021-12-13 00:06:10
2,2,Klaksvik,62.2266,-6.5890,40.12,91,100,15.46,FO,2021-12-13 00:06:10
3,3,Atuona,-9.8000,-139.0333,79.14,79,25,18.50,PF,2021-12-13 00:06:11
4,4,Ushuaia,-54.8000,-68.3000,40.06,73,55,10.36,AR,2021-12-13 00:04:12

In [69]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [70]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [71]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
# Heatmap of percent Wind 
locations = city_data_df[["Lat", "Lng"]]
wind  = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind ,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [87]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Atuona,-9.8000,-139.0333,79.14,79,25,18.50,PF,2021-12-13 00:06:11
5,5,Vanimo,-2.6741,141.3028,83.21,77,100,6.42,PG,2021-12-13 00:06:11
6,6,Rio Grande,-32.0350,-52.0986,73.51,77,0,15.66,BR,2021-12-13 00:06:11
14,14,Dzaoudzi,-12.7887,45.2699,78.69,78,0,3.44,YT,2021-12-13 00:06:13
16,16,Port Elizabeth,-33.9180,25.5701,71.10,94,100,10.56,ZA,2021-12-13 00:06:14
17,17,Port Alfred,-33.5906,26.8910,71.58,95,100,11.59,ZA,2021-12-13 00:06:15
20,20,Meulaboh,4.1363,96.1285,75.63,90,90,1.88,ID,2021-12-13 00:06:16
23,23,Georgetown,5.4112,100.3354,78.89,81,20,3.44,MY,2021-12-13 00:02:37
24,24,Rikitea,-23.1203,-134.9692,77.81,75,88,7.85,PF,2021-12-13 00:06:17
26,26,Vaini,-21.2000,-175.2000,86.16,79,20,11.50,TO,2021-12-13 00:06:18

In [88]:

preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       1
Date          0
dtype: int64

In [89]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

              City Country  Max Temp      Lat       Lng Hotel Name
3           Atuona      PF     79.14  -9.8000 -139.0333
5           Vanimo      PG     83.21  -2.6741  141.3028
6       Rio Grande      BR     73.51 -32.0350  -52.0986
14        Dzaoudzi      YT     78.69 -12.7887   45.2699
16  Port Elizabeth      ZA     71.10 -33.9180   25.5701

In [99]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [100]:
hotel_df.head()

              City Country  Max Temp      Lat       Lng  Hotel Name
3           Atuona      PF     79.14  -9.8000 -139.0333      Atuona
5           Vanimo      PG     83.21  -2.6741  141.3028      Vanimo
6       Rio Grande      BR     73.51 -32.0350  -52.0986  Rio Grande
14        Dzaoudzi      YT     78.69 -12.7887   45.2699   Mamoudzou
16  Port Elizabeth      ZA     71.10 -33.9180   25.5701    Gqeberha

In [103]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))